<div class="sign-in-page">
	<div class="signin-popup">
		<div class="signin-pop">
			<div class="row">
				<div class="col-lg-6">
					<div class="cmp-info">
						<div class="cm-logo">
							{{#if sessionFlash.message}}
							<div id="div.alert" class="{{sessionFlash.type}}">{{sessionFlash.message}}</div>
							{{/if}}
							<img src="/images/cm-logo.png" alt="">
							<p>Gastronomi ve mutfak sanatı konseptli bir sosyal medya platformu. Düşüncelerinizi rahatça paylaşıp, diğer kullanıcılarla etkileşime girebilirsiniz. Web sitemizin kullanımı herkese açıktır, siteye kaydolmak ve kullanmak tamamen ücretsizdir.</p>
						</div>
						<!--cm-logo end-->
						<img src="/images/cm-main-img.png" alt="">
					</div>
					<!--cmp-info end-->
				</div>
				<div class="col-lg-6">
					<div class="login-sec">
						<ul class="sign-control">
							<li onclick="location.href='/users/sign-in'" data-tab="tab-2"><a href="/users/sign-in"
									title="">Giriş Yap</a></li>
							<!--li data-tab="tab-1" class="current"><a href="#" title="">Sign up</a></li>-->
						</ul>
						<!--			
								<div class="sign_in_sec current" id="tab-1">
									
									<h3>Sign in</h3>
									<form action="/users/login" method="POST">
										<div class="row">
											<div class="col-lg-12 no-pdd">
												<div class="sn-field">
													<input type="text" name="username" placeholder="Username">
													<i class="la la-user"></i>
												</div><!--sn-field end
											</div>
											<div class="col-lg-12 no-pdd">
												<div class="sn-field">
													<input type="password" name="password" placeholder="Password">
													<i class="la la-lock"></i>
												</div>
											</div>
											<div class="col-lg-12 no-pdd">
												<div class="checky-sec">
													<div class="fgt-sec">
														<input type="checkbox" name="cc" id="c1">
														<label for="c1">
															<span></span>
														</label>
														<small>Remember me</small>
													</div><!--fgt-sec end
													<a href="#" title="">Forgot Password?</a>
												</div>
											</div>
											<div class="col-lg-12 no-pdd">
												<button type="submit" value="submit">Sign in</button>
											</div>
										</div>
									</form>
									<div class="login-resources">
										<h4>Login Via Social Account</h4>
										<ul>
											<li><a href="#" title="" class="fb"><i class="fa fa-facebook"></i>Login Via Facebook</a></li>
											<li><a href="#" title="" class="tw"><i class="fa fa-twitter"></i>Login Via Twitter</a></li>
										</ul>
									</div><!--login-resources end
								</div><!--sign_in_sec end-->
						<div class="sign_in_sec current" id="tab-1">
							<!--<div class="signup-tab">
										<i class="fa fa-long-arrow-left"></i>
										<h2>johndoe@example.com</h2>
										<ul>
											<li data-tab="tab-3" class="current"><a href="#" title="">User</a></li>
											<li data-tab="tab-4"><a href="#" title="">Company</a></li>
										</ul>
									</div><!--signup-tab end-->
							<div class="dff-tab current" id="tab-1">
								<form action="/users/sign-up" method="POST" >
									<h3>Kayıt Ol</h3>
									<div class="row">
										<div class="col-lg-12 no-pdd">
											<div class="sn-field">
												<input type="text" name="username" placeholder="Kullanıcı adı *" required>
												<i class="la la-user"></i>
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<div class="sn-field">
												<input type="text" name="name" placeholder="İsim *" required>
												<i class="la la-user"></i>
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<div class="sn-field">
												<input type="text" name="surname" placeholder="Soyad *" required>
												<i class="la la-user"></i>
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<div class="sn-field">
												<input type="email" name="email" placeholder="Email *" required>
												<i class="la la-user"></i>
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<div class="sn-field">
												<input type="date" name="birthdate" placeholder="Doğum Tarihi">
												<i class="la la-user"></i>
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<div class="sn-field">
												<input type="text" name="city" placeholder="Şehir *" required>
												<i class="la la-user"></i>
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<div class="sn-field">
												<input type="text" name="job" placeholder="İş *" required>
												<i class="la la-user"></i>
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<div class="sn-field">
												<input type="password" name="password" placeholder="Şifre *"
													required>
												<i class="la la-lock"></i>
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<div class="checky-sec st2">
												<div class="fgt-sec my-checkbox-group required">
													<input type="checkbox" name="cc" id="cterm" required>
													<label for="cterm">
														<span></span>
													</label>
													<small>Evet, web sitesinin Hüküm & Koşullarını anlıyorum ve kabul ediyorum.</small>
												</div>
												<!--fgt-sec end-->
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<button type="submit" value="submit" onclick="checkTerms()">Kayıt Ol</button>
										</div>
									</div>
								</form>
							</div>
							<!--dff-tab end-->
							<div class="dff-tab" id="tab-4">
								<form>
									<div class="row">
										<div class="col-lg-12 no-pdd">
											<div class="sn-field">
												<input type="text" name="company-name" placeholder="Company Name">
												<i class="la la-building"></i>
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<div class="sn-field">
												<input type="text" name="country" placeholder="Country">
												<i class="la la-globe"></i>
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<div class="sn-field">
												<input type="password" name="password" placeholder="Password">
												<i class="la la-lock"></i>
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<div class="sn-field">
												<input type="password" name="repeat-password"
													placeholder="Repeat Password">
												<i class="la la-lock"></i>
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<div class="checky-sec st2">
												<div class="fgt-sec">
													<input type="checkbox" name="cc" id="c3">
													<label for="c3">
														<span></span>
													</label>
													<small>Yes, I understand and agree to the workwise Terms &
														Conditions.</small>
												</div>
												<!--fgt-sec end-->
											</div>
										</div>
										<div class="col-lg-12 no-pdd">
											<button type="submit" value="submit">Get Started</button>
										</div>
									</div>
								</form>
							</div>
							<!--dff-tab end-->
						</div>
					</div>
					<!--login-sec end-->
				</div>
			</div>
		</div>
		<!--signin-pop end-->
	</div>
	<!--signin-popup end-->
	<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 0; right: 0; min-height: 80px; min-width: 300px; margin-top: 0.75rem;  margin-right: 0.75rem">
  <div class="toast-header">
    <strong class="mr-auto">Hüküm ve Koşullar</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
   Kayıt olmak için web sitesinin Hüküm & Koşullarını kabul etmelisiniz!
  </div>
</div>
</div>	
<script>
	function checkTerms(){
		if(!$('#cterm').prop("checked")){
			$(".toast").toast({
            delay: 3000
        });
			$('.toast').toast('show');
		}	
	}
</script>
